div{margin:0;border:0;padding:0;font-size:0}
table{border-collapse:collapse;border-spacing:0;}
a{TEXT-DECORATION:none;}
a:hover{TEXT-DECORATION:underline;}
th,td{padding:0;}

.selectTable {
	font-size: 12px;
	border-collapse: collapse;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CAD0D9;
	border-left-color: #CAD0D9;
}
.selectTable tr {
	HEIGHT: 22px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CAD0D9;
	border-bottom-color: #CAD0D9;
}
.selectTable tr:hover, 
.selectTable tr.altrow{
	background-color:#EFEFEF;
}
.selectTable tr.altrow1{
	background-color:#F90;
}
.selectTable td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CAD0D9;
	border-bottom-color: #CAD0D9;
	text-align: center;
	vertical-align: bottom;
}

.cs{
	CURSOR: pointer;
}
.cs3 {
	COLOR: #17659e; FONT-SIZE: 12px; CURSOR: pointer
}
.cs5 {
cursor: pointer;
color: #00A6FF;
}

.s4{width:95px;}
.global_navigator_level1 {
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
	background-color: #333333;
	border-top: 1px solid #0055AA;
	border-right: 1px solid #0055AA;
	border-bottom: 1px solid #0055AA;
	border-left: 1px solid #0055AA;
}
.global_navigator_level2 {
	font-size: 13px; 
	color: #ffffff;
	background-color: #333333;
	border-top: 1px solid #0055AA;
	border-right: 1px solid #0055AA;
	border-bottom: 1px solid #0055AA;
	border-left: 1px solid #0055AA;
}
.cs2 {
cursor: pointer;
color: #FFFFFF;
}
.fw{font-size:18px;color:white;}
.link1 {
a{color:#EBEBEB} 
a:link{color:#EBEBEB}
a:visited{color:#EBEBEB}
a:hover{color:#EBEBEB} 
a:active{color:#EBEBEB} 
}
a.blue:link { 
color: #0000FF; 
text-decoration: none; 
font-size: 14px;
} 
a.blue:visited { 
color: #0000FF; 
text-decoration: none; 
font-size: 14px;
} 
a.blue:hover { 
text-decoration: underline; 
font-size: 14px;
} 
a.blue:active { 
text-decoration: none; 
font-size: 14px;
} 
.h1{text-align:left;}
.v1{vertical-align:top;}
.v2{vertical-align:middle;}
.f14{
font-size:14px;
font-weight: normal;
}
.f16 {
font-size: 16px;
font-weight: bold;
color: #0055AA;
}
.f162 {
font-size: 16px;
font-weight: bold;
}
.md1{border-top-width:1px;border-top-style:none;border-right-style:solid;border-bottom-style:none;border-left-style:solid;border-top-color:#0055AA;border-right-color:#0055AA;border-bottom-color:#0055AA;border-left-color:#0055AA;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;}
.md2{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:none;border-left-style:none;border-top-color:#0055AA;border-right-color:#0055AA;border-bottom-color:#0055AA;border-left-color:#0055AA;}
.md3{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:none;border-bottom-style:solid;border-left-style:none;border-top-color:#0055AA;border-right-color:#0055AA;border-bottom-color:#0055AA;border-left-color:#0055AA;}
.md4{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-style:solid;border-right-style:solid;border-bottom-style:none;border-left-style:none;border-top-color:#0055AA;border-right-color:#0055AA;border-bottom-color:#0055AA;border-left-color:#0055AA;}
.md5{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;	border-top-style:solid;	border-right-style:solid;border-bottom-style:solid;}
.p2{padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:20px;}
.tipf{color:#999999;}
.f13w{font-size:13px;color:white;}
a.aw:link { 
color: #00A6FF; 
text-decoration: none; 
font-size: 14px;
font-weight: bold;
} 
a.aw:visited { 
color: #00A6FF; 
text-decoration: none; 
font-size: 14px;
font-weight: bold;
} 
a.aw:hover { 
text-decoration: underline; 
font-size: 14px;
font-weight: bold;
} 
a.aw:active { 
text-decoration: none; 
font-size: 14px;
font-weight: bold;
} 